<footer>
    &nbsp;
    &copy; &nbsp; &nbsp; 
    <b>
        <a href="/contact">Contact us </a>&nbsp; &nbsp; 
        <a href="/about">About us </a>&nbsp; &nbsp; 
        <a href="/terms">Terms</a> 
    </b>      
</footer>
</body>

</html>