<%- include('../partials/header.ejs')%>
<div>
  <h1>Trade added to your Watchlist</h1>
  <p><b> Title:</b> <%= newSaveItem.title%></p>
  <a href="/trades/save">Watchlist</a>
</div>
<%- include('../partials/footer.ejs')%>