<%- include('./partials/header.ejs')%>
    <div class = "body">
        <p>This webpage is designed to trade locally grown fruits, vegetables and gardening tools in a close neighbourhood. 
            It is developed as a part of academic course by a student.</p>
    </div>
<%- include('./partials/footer.ejs')%>