<%- include('./partials/header.ejs')%>    
    <div class="body">
    <div class="container">
        <img id ="home" src="/images/logo.png" height="400" width="40">
        <p class="hometext">
            <p id="maintext">Welcome! </p>
            <p id="subtext">Trade vegetables and fruits in your neighbourhood.<br></p> 
        </p>

        <form id = "bplace" action="/users/signup">
            <input class ="button" type="submit" value="Signup now" />
        </form>  
    </div>
    </div>
<%- include('./partials/footer.ejs')%>