html {
    scroll-behavior: smooth;
    background-color: rgb(254, 254, 254);
}

header {
    position: fixed;
    padding: 0px;
    background-color:rgb(204, 230, 170);
    color: black;
    font-size: 15px;
    height: 100px;
    margin-bottom: 0;
    margin-top: 0;
    left: 0;
    right: 0;
    top: 0;
}

.body{ 
	position:relative; 
    margin-left: 10px;
    top: 120px;
    bottom: 40px;
    overflow: scroll;
} 


hr{
    margin-top: 0;
    margin-bottom: 0;
}

#rightnav {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    text-align: top;

}

#bottomnav {
    margin-top: 0;
}

a {
    text-decoration: none;
}

img {
    margin-bottom: 0;
}

.logo {
    top: 2px;
    left: 2px;
    position: absolute;
}

.button {
    background-color: beige;
    float: left;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    border: 1px solid black;
}

h3 {
    margin-bottom: 0;
    margin-top: 0;
    color:rgba(77, 147, 7, 0.839);
}

h2 {
    margin-bottom: 15px;
    margin-top: 0;
}

ul {
    margin-top: 0;
}

footer {
    position: fixed;
    padding: 0px;
    color: black;
    font-size: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40;
    background-color:rgb(140, 174, 106);
}

.body {
    font-size: large;
    padding-bottom: 45px;
}

#maintext {
    font-size: 40px;
    /*color:rgba(52, 103, 2, 0.839);*/
    color: rgb(17, 177, 121);
    padding-left: 970px;
    padding-top: 100px;
    font-family: sans-serif;
}

#subtext {
    font-size: 18px;
    padding-left: 150px;
    float: left;
    font-family: sans-serif;
    color: #047375b8;
}

#home {
    display: block;
    width:50%;
    height: 70%;
    float: left;
}

#bplace{
    display: block;
    align-items: center;
    padding-left: 300px;
    float: left;
}


.container {
    align-items: center;
    justify-content: center;
}


#newtable {
    table-layout: fixed;
}

th,td {
  padding: 10px;
}

.flashMessage {
    color: hwb(261 2% 24%);
    background-color: rgb(216, 194, 236);
    width: fit-content;
    margin-left: 5%;
    font-family:'Gill Sans';
    font-weight: 400;
}

#error {
    background-color: rgb(250, 98, 98);
}

#success {
    background-color: rgb(150, 231, 150);
}

.profile_table {
    border: 1px solid;
    border-collapse: collapse;
}

#user {
    color: rgb(17, 177, 121);
}